/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}



:root {
    font-family: sans-serif;

    --marble-img-path-horizontal: url("./img/marble.avif");
    --marble-img-path: url("./img/btn-back.webp");

    --btn-width-s: 2rem;
    --icon-width-s: 1rem;
    --icon-width-m: 2.5rem;

    --separation-xs: 0.5rem;
    --separation-s: 1rem;
    --separation-m: 2rem;
    --separation-l: 3rem;

    --diameter-m: 5rem;

    --sidebar-min-width: 200px;
    
    --main-min-width: 500px;
    --main-min-height: 200px;

    --clr-grey: rgb(255, 255, 255);
    --clr-grey-dark: rgb(142, 142, 142);
    --clr-biege: rgb(205, 196, 157);
    --clr-biege-dark: rgb(149, 143, 115);
    --clr-light-gold: rgb(255, 243, 200);

    --box-shadow-mid: 0 0 15px 0px rgb(0, 0, 0); 
    --box-shadow-light: 0 7px 10px 0px rgba(0, 0, 0, 0.25);
    --box-shadow-sidebar-items: -5px 5px 1px 0px rgba(0, 0, 0, 0.344);
    --transition-s: 0.5s;
    --transition-m: 1s;

    --border-biege: 1px solid var(--clr-biege-dark);
    --border-biege-light: 1px solid rgb(186, 177, 177);
    --border-radius-xs: 0.5rem;
    --border-radius-s: 1rem;
    --border-radius-m: 2rem;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template: 1fr 80% / minmax(var(--sidebar-min-width), 15%) minmax(var(--main-min-width), 1fr);
    
}

aside{
  grid-area: 1/1/-1/2;
  
  background-image: var(--marble-img-path);
  background-position: center;
  background-size: cover;
  box-shadow: inset -1px 0 8px 0 rgb(0, 0, 0);

  display: grid;
  grid-template: subgrid / subgrid;
}

#profile-bar {
  grid-area: 1/1/2/2;
  display: flex;
  
  align-items: flex-start;
}

#profile-bar>* {
  flex: none;
}

#profile-bar > div {
  border-radius: 0 0 0 var(--border-radius-s);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.69);
  display: flex;
  align-items: center;
  justify-items: center;
  overflow: hidden;

  box-shadow: var(--box-shadow-light);
}

#pfp {
  width: 40%;
  border-radius: 0 0 100% 0;
  margin-right: auto;
  
  border-bottom: var(--separation-s) solid rgba(255, 255, 255, 0.5);
  border-right: var(--separation-s) solid white;
  box-shadow: var(--box-shadow-light);
}

#profile-bar button {
  width: var(--btn-width-s);
  height: var(--btn-width-s);
  border: none;
  background-color: transparent;
  

  transition: background-color var(--transition-s);
}

#profile-bar button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

#profile-bar button>img {
  width: 100%;
}

#project-list{
  margin-top: calc(var(--separation-m) * -1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--separation-m);
  padding: 0 var(--separation-s);
}

aside section {
  font-size: small;
  
}

aside h2 {
  color: var(--clr-light-gold);
  height: var(--separation-m);
  border-bottom: var(--border-biege);
  
  background-color: rgba(0, 0, 0, 0.379);
  backdrop-filter: blur(5px);
  border-radius:  var(--border-radius-s) var(--border-radius-s) 0 0;
  
  padding-left: var(--separation-s);
}

aside ul {
  border-radius: 0 0 var(--border-radius-s) var(--border-radius-s);
  /* border-left: var(--border-biege);
  border-bottom: var(--border-biege); */
  list-style-type: none;
  padding: var(--separation-s);

  display: flex;
  flex-direction: column;
  gap: calc(var(--separation-s) / 2);

  background-color: rgba(255, 255, 255, 0.66);
  backdrop-filter: blur(5px);
  

  box-shadow: var(--box-shadow-sidebar-items);
}

aside ul li{
  /* padding-bottom: calc(var(--separation-s) / 2); */
  border-bottom:var(--border-biege-light);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: calc(var(--border-radius-s) / 2.5);
  padding: 0 var(--separation-s);
  display: flex;
  align-items: center;
  gap: var(--separation-s);
}

aside ul li img{
  display: inline;
  width: var(--icon-width-s);
  height: var(--icon-width-s);
}

aside ul li:hover{
  background-color: rgba(0, 0, 0, 0.165);
}

header{
    grid-area: 1/2/2/-1;
    background-color: var(--clr-grey);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    padding: var(--separation-l);
    padding-bottom: 0;

    z-index: 1; /* to get over profile-bar button's box-shadow */
}
header img{
  width: var(--icon-width-m);
  display: inline;
}

header hr{
  border-top: 1px solid var(--clr-grey-dark);
  border-bottom: none;
  width: 100%;
  box-shadow: var(--box-shadow-mid);
  z-index: 1;
}
header h1{
  z-index: 2;
  background-color: white;
  margin: 0 calc(var(--separation-l) * -1);
  padding: var(--separation-s) var(--separation-l);
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--separation-s);
}

main {
    grid-area: 2/2/-1/-1;
    background-color: var(--clr-grey);
    position: relative;
}

#main-create-todo-btn{
  --bg-opacity: 0;
  font-size: calc(var(--diameter-m) * 0.75);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20%;
  
  background-image: linear-gradient(to top, rgba(255, 255, 255, var(--bg-opacity))), var(--marble-img-path);
  background-position: center, center;
  background-size: 100%;


  width: var(--diameter-m);
  height: var(--diameter-m);
  border: 1px solid rgba(0, 0, 0, 0.456);
  position: fixed;
  z-index: 10;
  bottom: var(--separation-l);
  right: var(--separation-l);


  box-shadow: var(--box-shadow-light);
  transition: background-size var(--transition-s);
}

#main-create-todo-btn:hover{
  --bg-opacity: 0;
  background-size: 300%;
}
#main-create-todo-btn p {
  color: var(--clr-light-gold);
  transition: transform var(--transition-s);
}
#main-create-todo-btn:hover p{
  transform: scale(0.75)
}

main > div {
  padding: calc(var(--separation-l) * 2);
  padding-top: var(--separation-s);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: var(--separation-m);
}

.todo-card {
  padding: var(--separation-m);
  
  border-radius: var(--border-radius-m);
  
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.442)), var(--marble-img-path-horizontal);
    background-position: center;
    background-size: cover;
    box-shadow: var(--box-shadow-light);
}

.todo-card textarea{
  color: var(--clr-grey-dark);
  width: 500px;
  max-height: 150px;
  field-sizing: content;
  resize: none;
  border: none;
  background-color: transparent;
}

.todo-card .todo-status{
  display: flex;
  width: 100%;
  align-items: center; 
}



.todo-card .is-done-btn {
  flex: none;
  margin-right: 20px;
  margin-left: auto;
  width: var(--btn-width-s);
  height: var(--btn-width-s);
  background-color: rgba(0, 0, 0, 0.093);
  box-shadow: inset var(--box-shadow-light);
  border-radius: var(--border-radius-xs);

  overflow: visible;
  transition: background-color var(--transition-m);
}

.is-done-btn:hover{
  background-color: rgb(128, 189, 253);
}

.is-done-btn div {
  margin: -11px 0 0 -5px;
  width: 0;
  transition: width var(--transition-m);
  overflow: hidden;
}

.is-done-btn:hover div {
  width: var(--icon-width-m);
}

.is-done-btn img {
  min-width: var(--icon-width-m);
}